*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif:
}
body{
  background: lightblue;
  display: flex ;
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
}
.main-content{
  position: relative;
  width: 100% ;
  max-width: 1000px;
  min-height: 1000px;
  display: grid ;
  background-color: lightblue;
  padding: 60px;
}

  .quiz1{
  position: relative;
  width: 100% ;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #f2f2f2;
  padding: 30px;
  border-style: solid #666;
  border-radius: 40px ;
}

.form-line{
  display: flex;
  flex-direction: column;
  list-style: none ;
}

.form-label1{
  padding-left: 15px;
  font-weight: bold;
}

.option{
  padding-left: 20px;
  margin-top: 10px;
}

#submit1{
  padding: 10px ;
  border: 1px solid #ccc ;
  margin-left: auto ;
  margin-right: auto;
  color: #666;
  border-radius: 10px;
  cursor: pointer;
}

.popup{
  width:400px;
  background:#fff;
  border-radius:6px;
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50% , -50%) scale(0.1) ;
  text-align:center;
  padding: 0 30px 30px;
  color:#333;
  visibility: hidden;
  
}

.open-popup{
  visibility:visible;
  top:50%;
  transform:translate(-50% , -50%) scale(1);
  
}

.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.popup h2{
  font-size:38px;
  font-weight:500;
  margin: 30px 0 10px;
}
.popup button{
  width:100%;
  margin-top:50px;
  padding: 0 10px;
  background:#6fd649;
  color:#fff;
  border: 0;
  outline:none;
  font-size:18px;
  cursor:pointer;
  border-radius:4px;
  box-shadow:0 5px 5px rgba(0,0,0,0.2);
} 
